
* {
    font-family: 'CascaydiaCove Nerd Font';
    font-size: 12px;
    min-height: 0;
}

window#waybar {
	background: #2E3440;
	color: #ECEFF4;
	opacity :0.85;
}

#workspaces,
#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#clock,
#tray, 


#workspaces {
	padding-left: 0px;
    border-radius: 0px 15px 15px 0px;
    background: #3B4252;
}

#workspaces button {
    min-width: 0;
    color: #ECEFF4;
}

#workspaces button.active {
    color: #81A1C1;
}

#workspaces button.urgent {
    color: #2E3440;
    background: #BF616A;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #2E3440;
    border-color: #2E3440;
    border-radius: 0px;
	color: #81A1C1;
    opacity: 0;
}

#cpu {
	border-radius: 15px 0px 0px 15px;
	background: #3B4252;
	padding: 0px 6px 0px 6px;
}

#memory {
	border-radius: 0px 0px 0px 0px;
	background: #3B4252;
	padding: 0px 6px 0px 6px;
}
#network {
	border-radius: 0px 0px 0px 0px;
	background: #3B4252;
	padding: 0px 6px 0px 6px;
}

#pulseaudio {
	border-radius: 0px 0px 0px 0px;
	background: #3B4252;
	padding: 0px 6px 0px 6px;
}

#battery {
	border-radius: 0px 0px 0px 0px;
	background: #3B4252;
	padding: 0px 6px 0px 6px;
}

#clock {
	border-radius: 0px 0px 0px 0px;
	background: #3B4252;
	padding: 0px 6px 0px 6px;
}

#tray {
    border-radius: 0px 0px 0px 0px;
	background: #3B4252;
	padding: 0px 6px 0px 6px;
}
