* {
	font-family: 'CascaydiaCove Nerd Font';
	min-height: 0;
}

window#waybar {
	background: #000000;
	color: #ffffff;
}

#workspaces,
#custom-wallpaper,
#custom-search,
#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#clock,
#tray,
#workspaces {
	padding: 0px 6px 0px 6px;
	background: transparent;
}

#workspaces button.persistent {
	min-width: 0;
	color: #ffffff;
	padding: 0px 2px 0px 2px;
}

#workspaces button.active {
	color: #ffffff;
}

#workspaces button.urgent {
	color: #2E3440;
	background: #BF616A;
	border-radius: 10px;
}

#workspaces button:hover {
	background: #2E3440;
	border-color: #2E3440;
	border-radius: 0px;
	color: #d3d3d3;
	opacity: 0;
}

#cpu {
	background: transparent;
	padding: 0px 6px 0px 6px;
	font-size: 12px;
	color: #ffffff;
}

#memory {
	background: transparent;
	padding: 0px 6px 0px 6px;
	font-size: 12px;
	color: #ffffff;
}

#network {
	background: transparent;
	padding: 0px 6px 0px 6px;
	font-size: 12px;
	color: #ffffff;
}

#pulseaudio {
	background: transparent;
	padding: 0px 6px 0px 6px;
	font-size: 12px;
	color: #ffffff;
}

#battery {
	background: transparent;
	padding: 0px 6px 0px 6px;
	font-size: 12px;
	color: #ffffff;
}

#clock {
	background: transparent;
	padding: 0px 6px 0px 6px;
	font-size: 12px;
	color: #ffffff;
}

#tray {
	background: transparent;
	padding: 0px 6px 0px 6px;
}
